<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Login</title>
</head>
<body>
  <div class="container login_window">
    <div id="signinButton">
      <span class="g-signin"
          data-scope="openid email"
          data-clientid="383582646760-b66efjl09ssqoobvr0htndh3sv01gemd.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
      </span>
    </div>
    <div id="result"></div>
  </div>

<script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      $('#signinButton').attr('style', 'display: none');
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
           setTimeout(function() {
            window.location.href = "/home";
           }, 4000);

        } else if (authResult['error']) {
      console.log('There was an error: ' + authResult['error']);
    } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
           }
        }

  }); } }
  </script>

</body>
</html>
