{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<section id="content">
  <h1>New Item</h1>
  <form action="#" method="POST">
    <div>
      <label for="name">Name:</label>
      <input type="text" maxlength="50" class="form-control" name="name" placeholder="Name of the item">
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea name="description" maxlength="250" rows="3" class="form-control" placeholder="Description of the item"></textarea>
    </div>
    <div>
      <label for="size">Size:</label>
      <input type="text" class="form-control" maxlength="10" name="size" placeholder="Size in Metric">
    </div>
    <div>
      <button id="submit" type="submit">Create</button>
      <a href="{{url_for('showAllItems', category_name = category_name)}}">Cancel</a>
    </div>
  </form>
</section>

{% endblock %}
